html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: lightgrey;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition-property: transform;
    transition-duration: 1s;
}

.img-container {
    overflow: hidden;
}

.card {
    max-width: 400px;
    background-color: white;
}

.card:hover {
    box-shadow: 0px 0px 10px 5px gray;
}

.card:hover img {
    transform: scale(1.5);
}

.card-text {
    padding: 16px;
}